.profile {
    padding: 20px 40px 50px;
}

.profile-img {
    border-radius: 50%;
}

.profile-description {
    margin-top: 50px;
    padding-bottom: 50px;
}

.profile-section {
    margin-top: 50px;
}

.profile-icon {
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.profile-history {
    margin-top: 40px;
    margin-bottom: 40px;
}