<!DOCTYPE html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body ng-controller="indexCtrl" ng-cloak="">

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                <md-button id="menuLeftBtn" class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                    <i class="material-icons">menu</i>
                </md-button>

                <div flex></div>
                <h3>
                    <span>Toolbar</span>
                </h3>
                <div flex></div>
            </div>
        </md-toolbar>

        <section layout="row" flex>
            <md-sidenav md-disable-backdrop class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
                </md-toolbar>
                <md-content layout-margin>
                    <p>
                        This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
                    </p>
                    <md-button ng-click="toggleLeft()" class="md-accent">
                        Close this Sidenav
                    </md-button>
                </md-content>
            </md-sidenav>

            <md-content flex layout-padding>
                <div layout="column" layout-align="top center">
                    <p>
                        Developers can also disable the backdrop of the sidenav.<br/>
                        This will disable the functionality to click outside to close the sidenav.
                    </p>
                </div>
            </md-content>
        </section>

        <!-- Include -->
        <div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

            <!-- Angular Material Library -->
            <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
            <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        </div>
    </body>
</html>