<!DOCTYPE html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body ng-controller="indexCtrl" ng-cloak="">

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                <md-button id="menuLeftBtn" class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                    <i class="material-icons">menu</i>
                </md-button>

                <div flex></div>
                <h3>
                    <span>Toolbar</span>
                </h3>
                <div flex></div>
            </div>
        </md-toolbar>

        <section layout="row" flex>
            <md-sidenav md-disable-backdrop class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
                <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools">
                        <md-button id="menuLeftBtn" class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                            <i class="material-icons">arrow_back</i>
                        </md-button>
                        <div flex></div>
                        <h3>
                            Informations
                        </h3>
                        <div flex></div>
                    </div>
                </md-toolbar>

                <md-content layout-margin>
                    <section layout="row" flex>
                        <div flex></div>
                        <img id="profilImg" src="{{ url_for('static', filename='images/profil.jpg') }}" alt="Profil">                        
                        <div flex></div>
                    </section>
                    <section layout="row">
                        <div flex></div>
                        <h2>
                            Loïc Juillet
                        </h2>
                        <div flex></div>
                    </section>
                    <hr>
                    <section layout="row ">
                        <div flex></div>
                        <h4>
                            Compétences
                        </h4>
                        <div flex></div>
                    </section>
                    <div layout="row" class="sideNavCategory">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/skill-unity.png') }}" alt="Unity" class="skill">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/skill-arduino.png') }}" alt="Arduino" class="skill">
                        <div flex></div>
                    </div>
                    <hr>
                    <section layout="row ">
                        <div flex></div>
                        <h4>
                            Centre d'intérêts
                        </h4>
                        <div flex></div>
                    </section>
                    <div layout="row" class="sideNavCategory">
                        <div flex></div>
                        <md-chips>
                            <h5><md-chip class="chipInterest">MakerFaire</md-chip></h5>
                            <h5><md-chip class="chipInterest">GameDev</md-chip></h5>
                            <h5><md-chip class="chipInterest">Accessibility</md-chip></h5>
                            <h5><md-chip class="chipInterest">Innovation</md-chip></h5>
                            <h5><md-chip class="chipInterest">Design Thinking</md-chip></h5>
                            <h5><md-chip class="chipInterest">DiY</md-chip></h5>
                            <h5><md-chip class="chipInterest">IoT</md-chip></h5>
                        </md-chips>
                        <div flex></div>
                    </div>
                    <hr>
                    <section layout="row">
                        <div flex></div>
                        <h4>
                            Languages
                        </h4>
                        <div flex></div>
                    </section>
                    <div layout="row" class="sideNavCategory">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-c.png')}}" alt="Language C" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-cpp.png')}}" alt="Language C++" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-csharp.png')}}" alt="Language C Sharp" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-python.png')}}" alt="Language Python" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-swift.png')}}" alt="Language Swift" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-html5.png')}}" alt="Language HTML" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-css3.png')}}" alt="Language CSS" class="lang">
                        <div flex></div>
                        <img src="{{ url_for('static', filename='images/lang-shell.png')}}" alt="Language Shell" class="lang">
                        <div flex></div>
                    </div>
                </md-content>
            </md-sidenav>

            <md-content flex layout-padding>
                <div layout="column" layout-align="top center">
                    <section flex>

                    </section>
                </div>
            </md-content>
        </section>

        <!-- Include -->
        <div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

            <!-- Angular Material Library -->
            <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
            <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        </div>
    </body>
</html>